.body{
    background-color: red;
}

.wrapper{
    width:50%;
    max width:300px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.anything{
    flex:1;
     min-width:300px;
    background-color: aqua;
    border: 1px solid #ccc;
}

.everything{
    flex:1;
    min-width: 300px;
    background-color: aqua;
    border: 1px solid #ccc;
}
.abcd{
    width: 100%;
    max width: 400px;
    gap: 15px;
    flex-wrap:wrap;
    display:flex;
}
.ab{
    flex:1;
    min-width:200px;
}
.ef{
    flex: 1;
    background-color: aqua;
    border: 1px solid #ccc;
    min-width: 200px;
}
.cd{
    flex:1;
      min-width:200px;
}