.abc{
 border-style: groove;
}
.def{
   border-style: dotted;
}
.ghi{
  border-style: dashed;
.jkl{
  border-style: double;
}

.abc{
   border-style: outset;
}
.a{


}
.body{
background-image: url('comp.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.c{

}
.d{
  

}
.mno{
  border-style: inset;
}
.computer{
  border-style: outset;
}
