.abc{
    border border-style: groove;
}
.def{
   border-style: dotted;
}
.ghi{
  border-style: dashed;
.jkl{
  border-style: double;
}
.mno{
    border-style: inset;
}
.abc{
   border-style: outset;
.a{
border-style: outset;

}
.b{
background-image: url('comp.png');
}
.c{

}
.d{

}