.abc{
 border-style: groove;
}
.def{
   border-style: dotted;
}
.ghi{
  border-style: dashed;
.jkl{
  border-style: double;
}
.mno{
    border-style: inset;
}
.abc{
   border-style: outset;
}
.a{


}
.b{
background-image: url("comp.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.c{

}
.d{

}